body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #765bd060;
}

* {
  font-family: "Inter", system-ui;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  h1 {
    span {
      color: blue;
    }
  }
}
.wrapper {
  /* Rectangle 17 */
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0 auto;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  h3,
  p {
    margin: 0;
  }
  img {
    margin-right: 13px;
  }
  .favIc {
    margin-left: -10px;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  position: relative;
  .clear {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    top: 13px;
    right: 10px;
  }

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 160px;
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #9d9a9a;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
  }
}

.greenButton {
  position: relative;
  &:hover {
    img {
      transform: translateX(5px);
    }
  }
  img {
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
  }
}
.greenButton {
  width: 100%;

  width: 365px;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: bacground 0.2s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }
  &:active {
    background: darken(#9dd558, 5%);
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  padding: 20px;
  overflow: scroll;

  .cartItemImg {
    height: 60px;
    width: 70px;
    background-size: contain;
    background-position: 0 15px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
  &:hover {
    opacity: 1;
  }
}
.item {
  flex: 1;
}
.grey {
  background-color: white;
  .power {
    height: 48px;
    font-size: 16px;
  }
}
.prod {
  background-color: #70c45c;
  height: 3.5em;
  color: white;
  border: none;
  border-radius: 10px;
}
.prev1 {
  margin-right: 15px;
  margin-bottom: -5px;
}

.alert {
  border: none;
  border-radius: 10px;
  width: 130px;
  height: 35px;
  background-color: rgb(224, 224, 224);
  color: black;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 20px 35px rgba(241, 85, 61, 0.1);
    transform: translateY(-3px);
  }

  body {
    margin: 20px auto;
    font-family: "Lato";
    font-weight: 300;
    width: 600px;
    text-align: center;
  }

  button {
    background: cornflowerblue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-family: "Lato";
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }

  button:hover {
    background: orange;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .pagination-item {
    padding: 8px 12px;
    margin-right: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    &.active {
      background-color: #ccc;
      color: #fff;
      border-color: #ccc;
    }
  }
}
.rounded-image {
  border-radius: 20px;
}

@media all and (max-width: 1080px) {
  .adptiveCard {
    display: flex;
    justify-content: space-around;
  }
}

@media all and (max-width: 830px) {
  .adptiveCard {
    display: flex;
    justify-content: space-around;
    .cardMar {
      margin: 0;
    }
  }
}
@media all and (max-width: 651px) {
  .adptiveCard {
    display: flex;
    justify-content: center;
  }
  .searchAdaptive {
    display: none;
  }
  .categoryAdaptive {
    margin-left: 60px;
  }
}
@media all and (max-width: 83px) {
  .adptiveCard {
    display: flex;
    justify-content: space-around;
  }
}
@media all and (max-width: 566px) {
  .categoryAdaptive {
    margin-left: 0px;
  }
}
@media all and (max-width: 490px) {
  .descrAdaptive {
    display: none;
  }
}
@media all and (max-width: 425px) {
  .categoryAdaptive {
    padding: 0%;
  }
}

@media all and (max-width: 390px) {
  .imagAdaptive {
    display: none;
  }
}

@media all and (max-width: 475px) {
  .totyalpri {
    display: none;
  }
}

@media all and (max-width: 355px) {
  .imgiog {
    display: none;
  }
}
@media all and (max-width: 405px) {
  .serhico {
    display: none;
  }
}

@media all and (max-width: 375px) {
  .inpserth {
    display: none;
  }
}
@media all and (max-width: 605px) {
  .descrAdaptive {
    display: none;
  }
}
